<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Admin panel</title>
    <link rel="stylesheet" href="/public/styles/admin-panel.css" />
    <link rel="stylesheet" href="/public/styles/map-editor.css">
  </head>
  <body class="container">
    <nav>
      <a href="/map-editor">Map editor</a>
    </nav>
    <div class="services ">
      <h2>Services</h2>
      <div class="services__inner"></div>
      <form id="edit-service-form" class="mark-form hidden">
        <h3>Edit service</h3>
        <input placeholder="title" type="text" name="title" id="new-title" required />
        <textarea placeholder="description" type="text" name="description" id="new-description" required>

        </textarea>
        <input placeholder="image" type="text" name="new-image" id="new-image" required />
        <div class="form-divider"></div>
        <button id="button--edit-article" type="submit">Edit</button>
        <button type="button" class="close-form">X</button>
      </form>
      <form id="add-service-form" class="mark-form hidden">
        <h3>Add service</h3>
        <input type="text" placeholder="image link" type="text" name="link" id="link" required>
        <input placeholder="title" type="text" name="title" id="title" required />
        <textarea placeholder="description" type="text" name="description" id="description" required >
        </textarea>
        <div class="form-divider"></div>
        <button id="button--add-article" type="submit">Add</button>
        <button type="button" class="close-form">X</button>
      </form>
      <button class="button--new-service">+ Add</button>
    </div>

    <div class="publications">
      <h2>Publications</h2>
      <ul class="publications__list">

      </ul>
      <button class="button--new-publication">+ Add</button>
      <form id="add-publication-form" class="mark-form hidden">
        <h3>Add publication</h3>
        <textarea type="text" placeholder="description" type="text" name="publication" id="publication" required></textarea>
        <div class="form-divider"></div>
        <button id="button--add-publication" type="submit">Add</button>
        <button type="button" class="close-form">X</button>
      </form>

      <form id="edit-publication-form" class="mark-form hidden">
        <h3>Edit publication</h3>
        <textarea type="text" placeholder="description" type="text" name="new-publication" id="new-publication" required></textarea>
        <div class="form-divider"></div>
        <button id="button--edit-publication" type="button">Edit</button>
        <button type="button" class="close-form">X</button>
      </form>
    </div>

    <div class="patents">
      <h2>Patents</h2>
      <ul class="patents__list">

      </ul>

      <button class="button--new-patent">+ Add</button>
    </div>

    <div class="team">
      <h2>Our team</h2>
      <div class="our-team__members"></div>
      <button class="button--add-member">+ Add</button>
      <form id="edit-member-form" class="mark-form hidden">
        <h3>Edit member</h3>
        <input type="text" placeholder="Name" type="text" name="name" id="new-name" required>
        <input type="text" placeholder="Position" type="text" name="position" id="new-position" required>
        <textarea type="text" placeholder="Description" type="text" name="bio" id="new-bio" required>
        </textarea>
        <input type="text" placeholder="Photo link" type="text" name="photo-link" id="new-photo-link">
        <div class="form-divider"></div>
        <button id="button--edit-member" type="submit">Edit</button>
        <button type="button" class="close-form">X</button>
      </form>
      <form id="add-member-form" class="mark-form hidden">
        <h3>Add member</h3>
        <input type="text" placeholder="Name" type="text" name="name" id="name" required>
        <input type="text" placeholder="Position" type="text" name="position" id="position" required>
        <textarea type="text" placeholder="Biography" type="text" name="bio" id="bio" required>
        </textarea>
        <input type="text" placeholder="photo link" type="text" name="photo-link" id="photo-link" required>
        <div class="form-divider"></div>
        <button id="button--add-member" type="submit">Add</button>
        <button type="button" class="close-form">X</button>
      </form>
    </div>
    <script src="/public/scripts/admin-panel.js"></script>
  </body>
</html>
