<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Map edit</title>
  <link rel="stylesheet" href="../public/styles/map.css">
  <link rel="stylesheet" href="/public/styles/map-editor.css" />
  <script src="https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.js"></script>
  <link href="https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.css" rel="stylesheet" />
  <link href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.2.0/mapbox-gl-draw.css" rel="stylesheet" />
</head>

<body>
  <form id="add-mark" class="mark-form hidden">
    <h1>Add geomark</h1>
    <input placeholder="title" type="text" name="title" id="title" required />
    <input placeholder="description" type="text" name="description" id="description" required />
    <input placeholder="download link" type="text" name="documentLink" id="document-link" required />
    <div class="form-divider"></div>
    <button id="add-mark__btn" type="submit">Add</button>
    <button class="close-form">X</button>
  </form>

  <form id="edit-mark" class="mark-form hidden">
    <h1>Edit geomark</h1>
    <input placeholder="title" type="text" name="title" id="new-title" required />
    <textarea placeholder="description" type="text" name="description" id="new-description" required></textarea>
    <input type="link" type="text" name="link" id="new-link" required>
    <div class="form-divider"></div>
    <button id="edit-mark__btn" type="submit">Edit</button>
    <button type="button" class="close-form">X</button>
  </form>

  <form class="kml-form"  method="post" enctype="multipart/form-data">
      <h1>Upload the KMZ file to add the geomark:</h1> 
    
      <input placeholder="title" type="text" name="kmz-title" id="kmz-title" required>
      <textarea placeholder="description" type="text" name="kmz-description" id="kmz-description" required></textarea>
      <input placeholder="donwload link" type="text" name="kmz-link" id="kmz-link" required>
    
      <input type="file" name="kmlFile" accept=".kmz" required>
      <div id="message"></div>
      <button type="submit">Upload</button>
  </form>

  <div id="map">
    <ul class="marks-list hidden">
      <a href="./admin-panel">Edit landing page</a>
      <div class="edit-mark__burger">
        <div></div>
        <div></div>
        <div></div>
      </div>
      <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
      <input placeholder="Geomarks search" type="text" class="edit-mark__search hidden" id="search" />
    </ul>
  </div>
  
  <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.2.0/mapbox-gl-draw.js"></script>
  <script src="/public/scripts/map-load.js"></script>
  <script src="/public/scripts/map-editor.js"></script>
</body>

</html>