body {
  --main-bg-color: #00ab55;
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

* {
  font-size: 16px;
}


#map {
  position: absolute;
  bottom: 0;
  z-index: 1;
  width: 100%;
  height: calc(100%);
}

h1 {
  margin: 0;
  padding: 0;
}

a{
  color: var(--text-color);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-transform: capitalize;
  white-space: nowrap;
}

.lds-ellipsis{
  position: absolute ;
  margin-left: 0px;
  left: 40%;
}

.marks-list {
  margin-left: 0px;
  height: calc(100% - 359px)
}

.mark-form {
  display: flex;
  position: absolute;

  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  z-index: 2;
  box-shadow: 0px 24px 48px 0px rgba(145, 158, 171, 0.24),
    0px 0px 4px 0px rgba(145, 158, 171, 0.24);
  border-radius: 16px;
  background: white;
  padding: 24px;
}

#add-mark {
  top: 50px;
  left: 50%;
}

#edit-mark {
  top: 50px;
  left: 50%;
}

.close-form {
  position: absolute;
  top: 10px;
  right: 10px;
  box-shadow: none;
  background: none;
  color: black;
}

button {
  cursor: pointer;
  box-shadow: 0px 8px 16px 0px rgba(0, 171, 85, 0.24);
  border: none;
  border-radius: 8px;
  background: #00ab55;

  padding: 11px 22px;
  color: white;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 26px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.form-divider {
  bottom: 60px;
  left: 0;
  background: #919eab3d;
  width: 100%;
  height: 1px;
}


.delete-button {
  position: absolute;
  top: 17px;
  right: 17px;
  cursor: pointer;
  box-shadow: 0px 8px 16px 0px rgba(255, 72, 66, 0.24);
  background: #ff4842;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.hidden {
  display: none;
}

.marks-list {
  display: flex;
  width: 329px;
  padding-bottom: 30px;
}

.marks-list.hidden .list-item{
  display: none;
}

.marks-list.hidden{
  height: fit-content;
}

.marks-list.hidden  .kml-form{
  display: none;
}

.edit-mark__search {
  margin-bottom: 20px;
  margin-top: 20px;
}

.popups-wrapper {
  position: relative;
}

.kml-form {
  display: flex;
  position: absolute;
  bottom: 0;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  z-index: 4;
  box-sizing: border-box;
  background: white;
  padding: 20px;
  width: 329px;

}

.kml-form__wrapper{
  display: flex;
}

.mark-form input,
.kml-form input{
  width: 100%;
  box-sizing: border-box ;
}

img {
  max-width: 100%;
}

.mapboxgl-popup-close-button{
  box-shadow: none;
  color: black;
}

.edit-mark__burger {
  display: flex;
  right: 15px;
  position: absolute;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  margin-top: auto;
  margin-bottom: auto;

  border: 1px solid rgba(145, 158, 171, 0.32);
  border-radius: 4px;
  padding: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  height: fit-content;
}

.edit-mark__burger:hover {
  opacity: 0.7;
  transition: 0.3s ease-in-out;
}

.edit-mark__burger:active {
  opacity: 1;
}

.edit-mark__burger div {
  opacity: 0.35;
  border-radius: 4px;
  background: #212b36;
  width: 35px;
  height: 4px;
}


#pdf-form{
  bottom:184px;
  z-index: 10;
  width: 281px;
  border-radius: 0px;
}

textarea{
  width: 100%;
  height: 200px;
}

.list-item__link{
  display: block;
  color: navy;
  text-decoration: underline;
  padding-bottom: 20px;
}