body {
  --main-bg-color: #00ab55;
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

* {
  font-size: 16px;
}

.hidden{
  display: none;
}

#map {
  position: absolute;
  bottom: 0;
  z-index: 1;
  width: 100%;
  height: calc(100%);
}

h1 {
  margin: 0;
  padding: 0;
}

.mapboxgl-popup-content {
  left: 400px;
}

.mark-form {
  display: flex;
  position: absolute;

  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  z-index: 2;
  box-shadow: 0px 24px 48px 0px rgba(145, 158, 171, 0.24),
    0px 0px 4px 0px rgba(145, 158, 171, 0.24);
  border-radius: 16px;
  background: white;
  padding: 24px;
}

#add-mark{
  left: 50%;
  top: 50px;
}

#edit-mark{
  left: 50%;
  top: 50px;
}

.close-form{
  position: absolute;
  right: 10px;
  top: 10px;
  background: none;
  color: black;
}

button {
  cursor: pointer;
  color: white;
  border: none;
  border-radius: 8px;
  background: #00ab55;
  padding: 11px 22px;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.form-divider {
  bottom: 60px;
  left: 0;
  background: #919eab3d;
  width: 100%;
  height: 1px;
}


.delete-button {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  position: absolute;
  top: 17px;
  right: 17px;
  cursor: pointer;
  background: #ff4842;
}

.hidden {
  display: none;
}

.popups-wrapper {
  position: relative;
}

.kml-form{
  width: 390px;
  box-sizing: border-box;
  height: 240px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  padding: 20px;
  position: absolute;
  z-index: 4;
  bottom: 0;
  background: white;
}

