.spinner-hidden {
  display: none !important;
}

button:hover {
  opacity: 0.8;
  transition: 0.3s ease-in-out;
}

button:active {
  opacity: 1;
}

.mapbox-gl-draw_ctrl-draw-btn {
  box-shadow: none;
}

.mapboxgl-popup-content {
  border-radius: 16px !important;
  padding: 0px !important;
  width: 380px;
  height: 380px;

}

.mapboxgl-popup {
  top: 10px !important;
  right: 150px !important;
  left: unset !important;
  transform: none !important;
  z-index: 4;
  border-radius: 16px;
}

.mapboxgl-popup-tip {
  display: none;
}

.mapboxgl-popup-close-button {
  margin-right: 10px;
  outline: none;
  color: white;
  font-size: 40px;
}

.mark {
  border-radius: 16px;
  min-width: 320px;
  max-width: 480px;
}

.mark img {
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  width: 100%;
}

.mark__text {
  padding: 24px;
}

.mark__text a {
  color: #1890FF;
  text-decoration: underline;
}


input {
  display: flex;

  align-items: center;
  box-sizing: border-box;
  border: 1px solid var(--button-input, rgba(145, 158, 171, 0.32));
  border-radius: 8px;
  padding: 16px 16px 16px 14px;
  height: 56px;
}

input::placeholder {
  color: var(--10-text-color-a-light-mode-03-text-disabled, #919eab);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.edit-mark__search {
  width: 100%;
  font-size: 16px;
}

.edit-mark__search:focus {
  outline: 3px solid rgba(145, 158, 171, 0.32);
}

.marks-list {
  display: flex;
  position: absolute;
  flex-direction: column;
  gap: 10px;
  z-index: 3;
  box-sizing: border-box;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 20px;
  background: #f4f6f8;
  padding: 15px;
  padding-top: 10px;

  width: 380px;
  overflow-y: scroll;
  list-style: none;
}

.marks-list::-webkit-scrollbar {
  display: none;
}


.list-item {
  position: relative;
  cursor: pointer;
  box-shadow: 0px -1px 0px 0px rgba(145, 158, 171, 0.24) inset;
  border-radius: 8px;
  background: var(--11-background-a-light-mode-01-paper, #fff);
  padding: 12px 8px 12px 16px;
  min-width: 300px
}

.list-item:hover {
  opacity: 0.8;
  box-shadow: 0px 24px 48px 0px rgba(145, 158, 171, 0.34),
    0px 0px 4px 0px rgba(145, 158, 171, 0.34);
}

.list-item strong {
  font-style: normal;

  line-height: 24px;
}

.list-item p {
  box-shadow: 0px -1px 0px 0px rgba(145, 158, 171, 0.24) inset;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  margin-top: 60px;
  margin-left: 100px;
  width: 80px;
  height: 80px;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
  border-radius: 50%;
  background: #00ab55;
  width: 13px;
  height: 13px;
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}