@media (max-width: 1250px) {
   .container {
      padding-right: 20px;
      padding-left: 20px;
   }

   .header a {
      font-size: 14px;
   }

   #google_translate_element span {
      font-size: 14px !important;
   }



   .hero h1 {
      font-size: 40px;
   }

   .about-us__inner {
      flex-direction: column;
   }

   .services__inner {
      row-gap: 40px;
      flex-wrap: wrap;
      justify-content: center;
   }

   .socials-wrapper {
      flex-direction: column-reverse;
      align-items: flex-start;
      gap: 20px;
   }

   .publications__inner {
      max-height: 500px;
   }

   .publications__item {
      font-size: 12px;
   }

   .mapboxgl-popup {
      right: 20px;
   }

   .footer__contacts {
      flex-wrap: wrap;
      justify-content: flex-start;

      width: fit-content;
      display: block;
      margin-right: auto;
   }

   .footer__inner{
      align-items: center;
   }


   .contacts-section__phone {
      display: block;
      margin-bottom: 30px !important;
   }

   .footer__logo {
      max-width: 220px;
   }

   .socials-wrapper{
      align-self: center;
   }

   .contacts-section:nth-child(3){
      align-self:flex-start;
      margin-top: 0px;
    }
}

@media(max-width: 1050px) {

   .header__inner {
      flex-direction: column;
      box-sizing: border-box;
      padding-bottom: 15px;
      padding-top: 0px;
   }

   .header__navigation {
      flex-wrap: wrap;
      justify-content: center;
      gap: 30px;
      row-gap: 15px;
      position: static;
   }

   .hero {
      margin-top: 132px;
   }

   #google_translate_element,
   .lang-icon {
      position: absolute;
      top: 30px;
      right: 15px;
   }

   #google_translate_element {
      top: 10px;
   }
}

@media (max-width: 950px) {

   .our-team__member {
      box-sizing: border-box;

   }
}

@media (max-width: 768px) {
   .container {
      padding-left: 10px;
      padding-right: 10px;
   }

   .hide {
      transform: translateY(-100%);
   }

   .hero img {
      object-fit: cover;
      object-position: center;
   }

   .hero p {
      font-size: 14px;
      line-height: 150%;
      padding: 20px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);

      transform: translate(0% 50%);
   }

   .mapboxgl-popup {
      top: 90px !important;
   }

   .scroll-message {
      display: none;
   }

   .scroll-down {
      visibility: visible;
      opacity: 1;
      position: absolute;
      z-index: 1;
      transition: 0.5s ease-in-out;
      position: absolute;
      top: 85%;
      left: 50%;
      transform: translate(-50%, -50%);
      backdrop-filter: blur(12px);
      border-radius: 25px;
      background: rgba(255, 255, 255, 0.35);
      padding: 32px;
      color: rgb(0, 0, 0);
      font-size: 20px;
   }

   .our-team__member {
      flex-direction: column;
      max-width: 500px;
   }


   .our-team__member:nth-child(2n) {
      flex-direction: column;
   }

   .our-team__subtitle {
      backdrop-filter: blur(12px);
      margin-top: 60px;
      margin-right: auto;
      margin-bottom: 60px;
      margin-left: auto;
      border-radius: 8px;
      background: rgba(255, 255, 255, 0.3);
      padding: 0px;
      min-width: unset;
      max-width: 400px;
      font-size: 15px;
      color: black;
      text-align: center;
   }

   .footer__contacts{
      margin-right: 0px;
   }

   .footer__inner {
      gap: 50px;
      justify-content: center;
   }

   .footer__inner {
      flex-direction: column;
   }

   .socials-inner {
      margin: 0 auto
   }

   .socials-wrapper p {
      margin: 0 auto;
   }

   .footer__contacts p {
      max-width: unset;
   }

   .footer__contacts span {
      white-space: wrap;
   }

}


@media (max-width: 550px) {
   h2 {
      font-size: 30px;
   }

   .header__navigation {
      max-width: 325px;
      row-gap: 10px;
      padding-top: 0px;
      background: white;
   }

   .header__logo {
      max-width: 200px;
      margin-right: auto;
   }

   .hero {
      margin-top: 147px;
   }

   .hero p {
      font-size: 12px;
      padding: 15px;
   }

   .service {
      min-width: 275px;
   }

   .service p {
      font-size: 14px;
   }

   .publications__inner {
      padding: 10px;
   }

   .publications__list {
      margin-top: 0px;
   }

   .button--show-patents,
   .button--show-publications {
      right: 5px;
      width: 40px;
      background-size: 40px;
   }

   .publications__list-header {
      font-size: 20px;
      padding-right: 30px;
   }

   .marks-list {
      width: calc(100% - 20px);
      max-width: 292px;
      margin-left: 0px !important;
   }

   #map .container {
      position: relative;
      z-index: 3;
   }

   .edit-mark__search-wrapper {
      margin-left: 0px;
   }

   .list-item {
      min-width: 0px;
      box-sizing: border-box;
      min-width: 0px !important;
   }

   .edit-mark__search {
      width: 100% !important;
   }

   .mapboxgl-popup {
      left: 10% !important;
      right: 20px !important;
   }

   .about-us__text p {
      min-width: unset;
      font-size: 13px;
   }

   .our-team__member img {
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      max-width: unset;

   }

}