body {
  --text-color: #212b36;
  --shadow-default: 0px 24px 48px 0px rgba(145, 158, 171, 0.24),
    0px 0px 4px 0px rgba(145, 158, 171, 0.24);
  --text-color-secondary: #637381;
  color: var(--text-color);
  font-family: "Public Sans", sans-serif;
}

button:hover {
  opacity: 0.7;
  transition: 0.3s ease-in-out;
}

button:active {
  opacity: 1;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 70px;
  padding-left: 70px;
  max-width: 1300px;
}

img {
  max-width: 100%;
}

li,
p {
  font-size: 16px;
  line-height: 24px;
}

h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
}

h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
}

.header {
  position: fixed;
  z-index: 10;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 60px 40px -7px;
  background: white;
  width: 100%;
  transition: transform 0.3s ease-out;
}

.footer__inner,
.header__inner {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;

  padding-top: 23px;
  padding-bottom: 23px;
}

.footer__logo,
.header__logo {
  max-width: 180px;
}

.footer__navigation,
.header__navigation {
  display: flex;
  gap: 40px;
  padding-left: 0px;
  list-style: none;
}

.footer__navigation a,
.header__navigation a {
  color: var(--text-color);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-decoration: none;
  text-transform: capitalize;
  white-space: nowrap;
}

.header a:hover {
  opacity: 0.7;
  transition: 0.3s ease-in-out;
}

.header a:active {
  opacity: 1;
}

.hero {
  position: relative;
}

.hero img {
  margin-top: 100px;
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.hero h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(12px);
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.3);
  padding: 32px;
  color: white;
  font-size: 64px;
  white-space: nowrap;
}

#about-us:target,
#client-data:target,
#publications:target,
#services:target {
  scroll-margin-top: 220px !important;
}

.services {
  margin-top: 100px;
}

.services__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  row-gap: 40px;
  margin-bottom: 50px;
  margin-top: 50px;
}

.services__subtitle {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.service {
  box-shadow: var(--shadow-default);
  border-radius: 16px;
  min-width: 320px;
  max-width: 380px;
}

.service img {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  object-fit: cover;

  margin: 0 auto;
  display: block;
}

.service__text {
  padding: 24px;
}

.publications {
  margin-top: 100px;
}

.publications__inner {
  border-radius: 16px;
  background: #f4f6f8;
  padding: 40px;
}

.publications__list {
  margin-bottom: 0px;
  border-radius: 8px;
  background: white;
  padding-left: 0px;
  list-style: none;
}

.publications__item {
  transition: 0.3s ease-out;
  box-shadow: 0px -1px 0px 0px rgba(145, 158, 171, 0.24) inset;
  padding: 16px;
}

.publications__list-header {
  position: relative;
  padding-top: 30px;
  padding-right: 80px;
  padding-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 28px;
}

.ellipses {
  border-radius: 10px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  background: white;
  padding: 16px;
}

.button--show-publications {
  position: absolute;
  top: calc(50% - 20px);
  right: 40px;
  transform: rotate(180deg);
  transition: 0.3s ease-in-out;
  cursor: pointer;
  border: none;
  background: none;
  background-image: url("../images/arrow-down.svg");
  background-position: center;
  background-size: 60px;
  width: 50px;
  height: 30px;
}

.hide-items .button--show-publications {
  transform: rotate(0deg);
}

.hide-items li:nth-child(n + 6) {
  visibility: hidden;
  opacity: 0;
  padding-top: 0px;
  padding-bottom: 0px;
  height: 0px;
}


.ellipses {
  display: block;
  font-size: 40px;
  font-family: "Courier New", Courier, monospace;
  letter-spacing: -10px;
}


.ellipses{
  display: none;
}

.hide-items .ellipses{
  display: block;
}

.map {
  position: relative;
  margin-top: 100px;

  padding-bottom: 730px;
}

#map {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 800px;
}

.map_box_container {
  position: relative;
  width: 100%;
  height: 700px;
}

.marks-list {
  position: absolute;
  top: 74px;
  z-index: 2;
  transition: 0.3s ease-in;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
}

.list-item {
  min-width: 275px;
}

.marks-list.hidden {
  z-index: 1;
  opacity: 0;
  height: 0px;
  margin-top: -20px;
}

.edit-mark__search-wrapper {
  display: flex;
  position: absolute;
  z-index: 3;
  margin-left: 20px;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
  background: #f4f6f8;
  padding: 15px;
  width: fit-content;
}

.edit-mark__search {
  position: relative;
  z-index: 3;
  width: 350px !important;
}

.edit-mark__burger {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  border: 1px solid rgba(145, 158, 171, 0.32);
  border-radius: 4px;
  padding: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  height: fit-content;
}

.edit-mark__burger:hover {
  opacity: 0.7;
  transition: 0.3s ease-in-out;
}

.edit-mark__burger:active {
  opacity: 1;
}

.edit-mark__burger div {
  opacity: 0.35;
  border-radius: 4px;
  background: #212b36;
  width: 35px;
  height: 4px;
}

.about-us {
  position: relative;
  z-index: 3;
  background: white;
  padding-top: 60px;
}

.about-us__inner {
  display: flex;
  position: relative;
  align-items: center;
  gap: 50px;
  padding-top: 30px;
}

.about-us__inner img {
  width: 100%;
}

.about-us p {
  backdrop-filter: blur(12px);
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  padding: 16px;
  min-width: 460px;
  max-width: 900px;
  text-align: center;
  color: black;
}

.about-us__text {
  border-radius: 16px;
}

.our-team {
  margin-top: 100px;
}

.our-team__members {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap:20px
}

.our-team__member {
  box-shadow: 0px 16px 32px -4px rgba(145, 158, 171, 0.24),
    0px 0px 2px 0px rgba(145, 158, 171, 0.24);
  border-radius: 16px;
  padding: 16px;
  width: fit-content;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
  width: 260px;
  border: 1px solid transparent;
}

.our-team__member img {

  width: 100px;
  object-fit: scale-down;
}
.our-team__members a{
  text-decoration: none;
}

.our-team__member h3 {
  color: var(--text-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  white-space: nowrap;
  text-decoration: underline;
}

.our-team__member-position {
  color: #637381;
  font-size: 14px;
  text-decoration: none;
}

.our-team__member.hidden{
  max-height: 360px;
}

.our-team__member.hidden .our-team__member-bio {
  transition: 0.3s ease-in-out;
  overflow: hidden;
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.our-team__member-button {
  display: block;
  box-sizing: border-box;
  transition: 0.3s ease-in-out;
  background: none;
  border: none;
  cursor: pointer;
  width: 100%;
  color: #212b36;
  padding: 10px 10px;
  border: 1px solid  rgba(145, 158, 171, 0.32);
  border-radius: 8px;
  background-position-x: calc(100% - 8px);
}

.our-team__member:hover{
  transition: 0.3s ease-in-out;
  box-shadow: 0px 16px 32px -4px rgba(145, 158, 171, 0.44),
  0px 0px 2px 0px rgba(145, 158, 171, 0.44);
  border: 1px solid  rgba(145, 158, 171, 0.32);
}

.our-team__member:active{
  opacity: 0.7;
  transition: 0.1s ease-in-out;
}

.our-team__member:hover .our-team__member-button{
  opacity: 0.7;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
}

.footer {
  margin-top: 100px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px -60px 40px -7px;
  height: 100px;
}
.footer__contacts{
  display: flex;
  align-items: flex-end;
  gap: 40px;
  width: 100%;
  justify-content: space-around;
}

.contacts-section__mail{
  color: var(--text-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  white-space: nowrap;
}
.contacts-section__phone{
  font-weight: 600;
}

.contacts-section__position{
  color: #637381;
  font-size: 14px;
  text-decoration: none;
}

.footer__contacts span {
  display: block;
  margin-bottom: 10px;
  white-space: nowrap;
}

.socials-inner {
  display: flex;
  flex-direction: column;
  gap: 20px;

}

.socials-wrapper {
  display: flex;
 

}

.footer .socials {
  margin-top: 0px;
}

.footer__inner {
  justify-content: space-between;
  gap: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer p {
  max-width: 320px;
}

#google_translate_element {
  position: absolute;
  right: 0px;
  bottom: -50px;

}

#google_translate_element span {
  padding-right: 10px !important;
  color: var(--text-color) !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 22px !important;
  font-family: "Public Sans", sans-serif !important;
  text-decoration: none !important;
  text-transform: capitalize !important;
  white-space: nowrap !important;
}
.VIpgJd-ZVi9od-xl07Ob-lTBxed span{
 
  padding-right: 10px !important;
}
.text {
  display: none !important;
}

.text {
  color: red !important;
}

.goog-te-gadget-simple {
  border: none !important;
  padding: 8px !important;
  padding-left: 16px !important;

}

iframe {
  z-index: 2 !important;
}

.VIpgJd-ZVi9od-xl07Ob-OEVmcd{
  z-index: 12 !important;
}

.skiptranslate img {
  display: none !important;
}

body {
  top: 0px !important;
}

#goog-gt-tt {
  display: none !important;
}

.our-team__member,
.hero__title,
.service {
  opacity: 0;
  filter: blur(4px) brightness(0.7);
  transition: filter 0.5s ease-out, opacity 0.5s ease-out;
}

.our-team__member.visible,
.hero__title.visible,
.service.visible {
  opacity: 1;
  filter: blur(0) brightness(1);
}

.ellipses,
.publications__item {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

.ellipses.visible,
.publications__item.visible {
  opacity: 1;
}
