body {
  --text-color: #212b36;
  --shadow-default: 0px 24px 48px 0px rgba(145, 158, 171, 0.24),
    0px 0px 4px 0px rgba(145, 158, 171, 0.24);
  --text-color-secondary: #637381;
  color: var(--text-color);
  font-family: "Public Sans", sans-serif;
}

button:hover {
  opacity: 0.7;
  transition: 0.3s ease-in-out;
}

button:active {
  opacity: 1;
}

.container {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  padding-right: 70px;
  padding-left: 70px;
  max-width: 1300px;
}

img {
  max-width: 100%;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

li,
p {
  font-size: 16px;
  line-height: 24px;
}

h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
}

h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
}

.footer__inner,
.header__inner {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;

  padding-top: 23px;
  padding-bottom: 23px;
}

.footer__logo,
.header__logo {
  max-width: 180px;
}

.footer__navigation,
.header__navigation {
  display: flex;
  gap: 40px;
  padding-left: 0px;
  list-style: none;
}

.footer__navigation a,
.header__navigation a {
  color: var(--text-color);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-decoration: none;
  text-transform: capitalize;
  white-space: nowrap;
}

.header {
  position: fixed;
  z-index: 10;
  transition: transform 0.3s ease-out;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 60px 40px -7px;
  background: white;
  width: 100%;
  top: 0px;
}

.header__inner {
  padding-top: 9px;
  padding-bottom: 0px;
  align-items: center;

}

.header__logo {
  position: relative;
  top: -9px;
  max-width: 250px;
}

.header__navigation {
  align-items: center;
  margin: 0;
  position: relative;

}

.lang-icon img {
  max-width: unset;
  width: 40px;
  border-radius: 4px;
  cursor: pointer;
}

.lang-icon {

  display: flex;
  gap: 10px;

}

.lang-icon img:hover {
  opacity: 0.7;
  transition: 0.3s ease-in-out;
}

.header a:hover {
  opacity: 0.7;
  transition: 0.3s ease-in-out;
}

.header a:active {
  opacity: 1;
}

.hero {
  position: relative;
  margin-top: 100px;
}

.hero img {
  width: 100%;
  height: 600px;
  object-fit: cover;
  object-position: 0% 40%;
}

.hero p {
  position: absolute;
  left: 20px;
  bottom: 20px;
  backdrop-filter: blur(12px);
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.35);
  padding: 32px;
  color: white;
  font-size: 14px;
  line-height: 130%;
  text-align: center;
  width: 70vw;
  max-width: 500px;
  margin: 0 auto;
}

#about-us:target,
#client-data:target,
#publications:target,
#services:target {
  scroll-margin-top: 220px !important;
}

.services {
  margin-top: 100px;
}

.services__inner {
  display: flex;
  row-gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.services__subtitle {
  margin-right: auto;
  margin-left: auto;
  max-width: 900px;
  text-align: center;
}

.services__map-link {
  color: var(--text-color);
  font-weight: 700;
}

.service {
  box-shadow: var(--shadow-default);
  border-radius: 16px;
  min-width: 320px;
  max-width: 380px;
}


.services .service:nth-child(6) img{
  object-fit: contain;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}

.service img {
  display: block;
  margin: 0 auto;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  height: 100%;
  width: 100%;
  object-fit: cover;

}

.service__image-wrapper {
  height: 300px;
  overflow: hidden;
}

.service__text {
  padding: 24px;
}

.publications {
  margin-top: 100px;
}

.publications__inner {
  border-radius: 16px;
  background: #f4f6f8;
  padding: 40px;
  max-height: 400px;
  overflow-y: scroll;
}

.publications__list {
  margin-bottom: 0px;
  border-radius: 8px;
  background: white;
  padding-left: 0px;
  list-style: none;

}

.publications__item {
  transition: 0.3s ease-out;
  box-shadow: 0px -1px 0px 0px rgba(145, 158, 171, 0.24) inset;
  padding: 16px;
}

.publications__list-header {
  position: relative;
  padding-top: 30px;
  padding-right: 80px;
  padding-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 28px;
}

.ellipses {
  border-radius: 10px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  background: white;
  padding: 16px;
}

.button--show-patents,
.button--show-publications {
  position: absolute;
  top: calc(50% - 20px);
  right: 40px;
  transform: rotate(180deg);
  transition: 0.3s ease-in-out;
  cursor: pointer;
  border: none;
  background: none;
  background-image: url("/public/images/arrow-down.svg");
  background-position: center;
  background-size: 60px;
  width: 50px;
  height: 30px;
}

.hide-items .button--show-patents,
.hide-items .button--show-publications {
  transform: rotate(0deg);
}

.hide-items li:nth-child(n + 4) {
  visibility: hidden;
  opacity: 0;
  padding-top: 0px;
  padding-bottom: 0px;
  height: 0px;
}

.hide-items .publications__inner {
  overflow-y: hidden;
  max-height: fit-content;
}

.ellipses {
  display: block;
  font-size: 40px;
  font-family: "Courier New", Courier, monospace;
  letter-spacing: -10px;
}

.ellipses {
  display: none;
}

.hide-items .ellipses {
  display: block;
}

#patents {
  margin-top: 0px;
}

.map {
  position: relative;
  margin-top: 100px;

  padding-bottom: 730px;
}

#map {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 800px;
}

.map_box_container {
  position: relative;
  width: 100%;
  height: 700px;
}

.scroll-message {
  position: absolute;
  z-index: 1;
  transition: 0.5s ease-in-out;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(12px);
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.35);
  padding: 32px;
  color: rgb(0, 0, 0);
  font-size: 20px;

  animation: shine 3s ease-in-out infinite;
}

@keyframes shine {
  0% {
    box-shadow: 0px 0px 20px rgb(0, 0, 0, 0.3);
  }

  50% {
    box-shadow: none;
  }

  100% {
    box-shadow: 0px 0px 20px rgb(0, 0, 0, 0.3);
  }
}

.marks-list {
  z-index: 2;
  transition: 0.3s ease-in;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
  max-height: 600px;
  overflow-y: scroll;
}

.list-item {
  min-width: 275px;
}

.marks-list.hidden {
  opacity: 0;
  z-index: 1;
  margin-top: -20px;
  height: 0px;
}

.marks-list__filter{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.filter-button{
  text-transform: uppercase;
  color: var(--text-color);
  background: #919EAB29;
  padding: 4px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  cursor: pointer;
  border: 3px solid transparent;
}


.filter-button[data-name="ALL"].active{
  background: #00AB55;
  color: white;
}
.filter-button[data-name="MULTICLIENT"]{
  border: 3px solid #00AB55;
}
.filter-button[data-name="MULTICLIENT"].active{
  background: #00AB55;
  color: white;
}
.filter-button[data-name="PROPRIETARY"]{
  border: 3px solid #1890FF;
}
.filter-button[data-name="PROPRIETARY"].active{
  background: #1890FF;
  color: white;
}
.filter-button[data-name="ENGINEERING GEOPHYSICS"]{
  border: 3px solid #FFC107;
}
.filter-button[data-name="ENGINEERING GEOPHYSICS"].active{
  background: #FFC107;
  color: white;
}
.filter-button[data-name="GOVERNMENT SUPPORT"]{
  border: 3px solid #54D62C;
}
.filter-button[data-name="GOVERNMENT SUPPORT"].active{
  background: #54D62C;
  color: white;
}
.filter-button[data-name="UNIVERSITY RESEARCH"]{
  border: 3px solid #FF4842;
}
.filter-button[data-name="UNIVERSITY RESEARCH"].active{
  background: #FF4842;
  color: white;
}

.edit-mark__search-wrapper {

  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 23;
  margin-left: 20px;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
  background: #f4f6f8;
  padding: 15px;
  padding-top: 10px;
  width: 100%;
  max-width: 350px;
  margin-bottom: -14px;
  gap:10px
}

.edit-mark__search {
  height: 40px;
  position: relative;
  z-index: 3;
  width: calc(100% - 50px) !important;
}

.edit-mark__burger {
  position: absolute;
  top: 9px;
  right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  border: 1px solid rgba(145, 158, 171, 0.32);
  border-radius: 4px;
  padding: 5px;
  padding-top: 8.5px;
  padding-bottom: 8.5px;
  height: fit-content;
}

.edit-mark__burger:hover {
  opacity: 0.7;
  transition: 0.3s ease-in-out;
}

.edit-mark__burger:active {
  opacity: 1;
}

.edit-mark__burger div {
  opacity: 0.35;
  border-radius: 4px;
  background: #212b36;
  width: 35px;
  height: 4px;
}


.our-team {
  margin-top: 150px;
}

.our-team__subtitle {
  backdrop-filter: blur(12px);
  margin-top: 60px;
  margin-right: auto;
  margin-bottom: 60px;
  margin-left: auto;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  padding: 16px;
  min-width: 460px;
  max-width: 900px;
  color: black;
  text-align: center;
}

.our-team__members {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  gap: 100px;
  margin-bottom: 100px
}

.our-team__member {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 10px;
  box-sizing: border-box;
  box-shadow: 0px 16px 32px -4px rgba(145, 158, 171, 0.24),
    0px 0px 2px 0px rgba(145, 158, 171, 0.24);
  border: 1px solid transparent;
  border-radius: 16px;
  padding: 16px;

  max-width:500px;
  text-align: center;
  gap: 30px;
}



.our-team__member img {
  width: 280px;
  height: 320px;
  object-fit: cover;
  object-position: top;
  border-radius: 6px;
  
}

.our-team__members a {
  text-decoration: none;
}

.our-team__member h3 {
  margin-top: 0px;
  color: var(--text-color);
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  white-space: nowrap;
}

.our-team__member-position {
  color: #637381;
  font-size: 14px;
  text-decoration: none;
}

.our-team__member-bio {
  font-size: 12px;
  text-align: center;
}

.footer {
  margin-top: 100px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px -60px 40px -7px;
  height: 100px;
}

.footer__contacts {
  display: flex;

  align-items: flex-end;
  gap: 50px;
  width: 100%;
}

.contacts-section__mail {
  color: var(--text-color);
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  white-space: nowrap;
}

.contacts-section__phone {
  font-weight: 600;
}

.contacts-section__position {
  color: #637381;
  font-size: 14px;
  text-decoration: none;
}

.footer__contacts span {
  display: block;
  margin-bottom: 10px;
  white-space: nowrap;
}

.socials-inner {
  display: flex;
  flex-direction: column;
  gap: 20px;

}

.socials-wrapper {
  display: flex;
}

.footer .socials {
  margin-top: 0px;
}

.footer__inner {
  justify-content: space-between;
  gap: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer p {
  max-width: 320px;
}

.our-team__member,
.hero__title,
.service {
  opacity: 0;
  filter: blur(4px) brightness(0.7);
  transition: filter 0.2s ease-out, opacity 0.2s ease-out;
}

.our-team__member.visible,
.hero__title.visible,
.service.visible {
  opacity: 1;
  filter: blur(0) brightness(1);
}

.ellipses,
.publications__item {
  opacity: 0;
  transition: opacity 0.2s ease-out;
}

.ellipses.visible,
.publications__item.visible {
  opacity: 1;
}